nav {
    background-color: rgb(53, 58, 64);
    min-height: 10vh;
}

#botones{
    justify-content: end;
    margin: 2vw;
}

#activo{
    color: white;
}

.nav-link{
    color: rgb(146, 155, 165);
}

#tickets {
    color: rgb(73, 180, 70);
}

#pantalla {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20vh;
}

#conferencia {
    background-image: url(../images/ba1.jpg);
    width: 100%;
    min-height: 90vh;
    background-position: center;
    background-size: cover;
}

#conf {
    font-size: 2.5rem;
    text-align: right;
    color: white;
}

#desc {
    margin-left: 50%;
    text-align: end;
    color: white;
}

#oradores {
    text-align: center;
}

#carta {
    color: white;
    background-color: rgb(53, 58, 64);
}

#titulo-carta{
    font-size: 2rem;
}

.fila{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

#cartas{
    margin: 2vw;
}

#formulario{
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
}

#nombre{
    justify-content: center;
}

.btn-primary{
    background-color: rgb(150, 201, 62);
    border: none;
}

#pie{
    padding: 1vw;
    justify-content: center;
    color: white;
    background-color: rgb(29, 67, 88);
}